.container{
    margin: 79px auto 142px auto;
    width: 1134px;
}

.goBack{
    width: 100%;  
    margin-bottom: 38px;  
}

.goBack a{
    font-family: var(--website-font);
    font-size: 15px;
    font-weight: 500;
    opacity: 0.5;
    cursor: pointer;
}

.checkout_summary{
    display: flex;
    justify-content: space-between;
    gap: 54px;
    width: 100%;
    transition: gap 0.2s linear;
}

.checkout{
    background-color: white;
    width: 730px;
    height: 1126px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 54px 48px 48px 48px;
    transition: width 0.2s linear;
}


.title{
    font-family: var(--website-font);
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1.14px;
    margin-bottom: 41px;
}

.billingDetails, .shippingInfo{
    display: grid;
    grid-template-columns: 309px 309px;
    gap: 16px;
    margin-bottom: 53px;
}

.shippingInfo fieldset:nth-of-type(1){
    grid-column: 1/3;
}


.sectionTitle{
    font-family: var(--website-font);
    font-weight: 700;
    letter-spacing: 0.93px;
    font-size: 13px;
    color: #D87D4A;
    grid-column: 1/3;
}


@media(max-width: 1200px){
    .container{
        width: 90%;
    }

    .checkout_summary{
        gap: 20px;
    }
    .checkout{
        width: 63%;
    }

    .billingDetails{
        grid-template-columns: 50% 50%;
    }

    .shippingInfo{
        grid-template-columns: 50% 50%;
    }

}

@media(max-width: 1000px){
    .checkout{
        height: auto;
        width: 50%;
    }

    .billingDetails, .shippingInfo{
        grid-template-columns: 100%;
    }

    .shippingInfo fieldset:nth-of-type(1){
        grid-column: 1/2;
    }

    .sectionTitle{
        grid-column: 1/2;
    }
}


@media(max-width: 768px){
    .checkout_summary{
        flex-direction: column;
    }
    .checkout{
        width: 100%;
    }

    .billingDetails, .shippingInfo{
        grid-template-columns: 50% 50%;
    }

    .shippingInfo fieldset:nth-of-type(1){
        grid-column: 1/3;
    }

    .sectionTitle{
        grid-column: 1/3;
    }
}

@media(max-width: 550px){
    .title{
        font-size: 28px;
    }

    .billingDetails, .shippingInfo{
        grid-template-columns: 100%;
    }

    .shippingInfo fieldset:nth-of-type(1){
        grid-column: initial;
    }

    .sectionTitle{
        grid-column: initial;
    }
}