.paymentMethod{
    display: grid;
    grid-template-columns: 309px 309px;
    gap: 16px;
    margin-bottom: 53px;
}

.sectionTitle{
    font-family: var(--website-font);
    font-weight: 700;
    letter-spacing: 0.93px;
    font-size: 13px;
    color: #D87D4A;
    grid-column: 1/3;
}


.paymentTitle{
    font-family: var(--website-font);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: -0.21px;
}


.firstOption, .secondOption{
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #CFCFCF;
    width: 309px;
    height: 56px;
    padding: 18px 16px 18px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 16px;
}


.firstOption:hover, .secondOption:hover{
    border: 1px solid #D87D4A;
}


.secondOption{
    grid-column: 2/3;
}

.radio{
    width: 20px;
    height: 20px;
    border: 1px solid #CFCFCF;
    accent-color: #D87D4A;
    cursor: pointer
}

.radioLabel{
    font-family: var(--website-font);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.25px;
    cursor: pointer;
}


.eMoneyInputs{
    display: grid;
    grid-template-columns: 309px 309px;
    justify-content: space-between;
}

.cashOnDelivery{
    display: flex;
    justify-content: space-between;
    height: 75px;
}

.message{
    width: 554px;
    font-family: var(--website-font);
    opacity: 0.5;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}

.messageIcon{
    width: 48px;
    height: 48px;
}

@media(max-width: 1200px){
    .paymentMethod{
        grid-template-columns: 50% 50%;
    }

    .firstOption, .secondOption{
        width: initial;
    }

    .eMoneyInputs{
        grid-template-columns: 50% 50%;
        gap: 16px;
    }
}

@media(max-width: 1000px){
    .paymentMethod{
        grid-template-columns: 100%;
    }

    .sectionTitle{
        grid-column: initial;
    }

    .secondOption{
        grid-column: initial;
    }

    .eMoneyInputs{
        grid-template-columns: 100%;
    }

    .cashOnDelivery{
        height: auto;
        gap: 32px;
    }

    .message{
        width: 100%
    }
}

@media(max-width: 768px){
    .paymentMethod{
        grid-template-columns: 50% 50%;
    }
    .sectionTitle{
        grid-column: 1/3;
    }

    .secondOption{
        grid-column: 2/3;
    }

    .eMoneyInputs{
        grid-template-columns: 50% 50%;
    }
}

@media(max-width: 550px){
    .paymentMethod{
        grid-template-columns: 100%;
    }    
    .sectionTitle{
        grid-column: initial;
    }

    .secondOption{
        grid-column: initial;
    }

    .eMoneyInputs{
        grid-template-columns: 100%;
    }
}