.container{
    width: 1110px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    margin-bottom: 160px;
    column-gap: 30px;
    row-gap: 64px;
    transition: gap 0.2s linear, margin 0.2s linear;
}

.title{
    text-align: center;
    grid-column: 1/4;
    font-family: var(--website-font);
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 1.14px;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    gap: 32px;
}

.productImage{
    width: 350px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
}

.productTitle{
    font-family: var(--website-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 32.78px;
    letter-spacing: 1.71px;
}

.seeProductButton{
    font-family: var(--website-font);
    font-weight: 700;
    font-size: 13px;
    width: 160px;
    height: 48px;
    background-color: var(--button-bg-color);
    color: white;
    border: none;
    cursor: pointer;
}

.seeProductButton:hover{
    background-color: var(--hover-button-color);
}

@media(max-width: 1160px){
    .container{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }

    .product, .productImage{
        width: 100%;
    }
}

/* tablet mode */
@media(max-width: 800px){
    .container{
        column-gap: 11px;
        row-gap: 56px;
        margin-bottom: 0px;
    }
}


@media(max-width: 580px){
    .container{
        grid-template-columns: 100%;
        gap: 40px;
    }
    .title{
        grid-column: initial;
        font-size: 24px;
    }
}