.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1296px;
    margin-bottom: 200px;
}

.productOne{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 138px;
    width: 1108.8px;
    height: 560px;
    transition: width 0.2s linear, background-position 0.2s linear, height 0.2s linear;
    background-image: url('./images/pattern-circles.svg');
    background-color: #D87D4A;
    background-repeat: no-repeat;
    background-position: -120px -60px;
    border-radius: 8px;
    padding: 0px 95px 0 95px;
    overflow: hidden;
}

.productOne .productImage{
    position: relative;
    left: 60px;
    bottom: -10px;
    width: 370px;
    align-self: flex-end;
    object-fit: cover;
    transition: width 0.2s linear, left 0.2s linear;
}

.productOne .productInfo{
    width: 349px;
    height: 303px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.productOne .productInfo h1{
    color: white;
    font-family: var(--website-font);
    font-weight: 700;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
}

.productOne .productInfo p{
    color: white;
    opacity: 0.75px;
    font-family: var(--website-font);
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 26px;
}

.productOne .productInfo button{
    color: white;
    background-color: black;
    padding: 15px 31.5px 15px 31.5px;
    border: none;
    font-family: var(--website-font);
    font-size: 13px;
    width: 160px;
    height: 48px;
    cursor: pointer;
    letter-spacing: 1px;
}

.productOne .productInfo button:hover{
    background-color: #4C4C4C;
}


.productTwo{
    box-sizing: border-box;
    padding: 0px 95px 0px 95px;
    width: 1108px;
    height: 320px;
    border-radius: 8px;
    background-image: url('./images/image-speaker-zx7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.productTwo .productInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 204px;
    height: 118px;
    white-space: nowrap;
}

.productTwo .productInfo h1{
    font-family: var(--website-font);
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    white-space: nowrap;
}

.productTwo .productInfo button{
    width: 160px;
    height: 48px;
    background-color: #e9e9e9;
    border: 2px solid black;
    font-family: var(--website-font);
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    color: black;
    cursor: pointer
}

.productTwo .productInfo button:hover{
    background-color: black;
    color: white;
}

.productThree{
    width: 1108px;
    height: 320px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.productThree .productImage{
    width: 540px;
    object-fit: cover;
    border-radius: 8px;
    transition: width 0.2s linear;
    content: url('images/image-gallery-2.jpg')
}

.productThree .greyBox{
    box-sizing: border-box;
    background-color: #F1F1F1;
    border-radius: 8px;
    width: 540px;
    height: 320px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 95px 0px 95px;
    transition: width 0.2s linear;

}

.productThree .greyBox .productInfo{
    width: 247px;
    height: 118px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productThree .greyBox .productInfo h1{
    font-family: var(--website-font);
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 2px;
    white-space: nowrap;
}

.productThree .greyBox .productInfo button{
    width: 160px;
    height: 48px;
    color: black;
    font-family: var(--website-font);
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    background-color:#F1F1F1;
    cursor: pointer;
    border: 2px solid black;
}

.productThree .greyBox .productInfo button:hover{
    background-color: black;
    color: white;
}

@media(max-width: 1160px){
    .productOne{
        width: 90%;
        gap: 40px;
        background-position: -200px -180px;
        gap: 60px;
    }

    .productOne .productImage{
        width: 280px;
        left: 0px;
        bottom: 0px;
        align-self: center;
    }

    .productTwo{
        width: 90%;
        background-position: right;
    }
    .productThree{
        width: 90%;
    }

    .productThree .greyBox{
        padding: 40px;
        width: 50%;
        justify-content: center;
    }

    .productThree .productImage{
        width: 50%;
    }

}

@media(max-width: 800px){
    .productThree .greyBox{
        padding: 40px;
    }

    .productThree{
        gap: 12px;
    }
}


/* tablet mode*/
@media(max-width: 768px){
    .container{
        height: auto;
        gap: 32px;
    }
    .productOne{
        flex-direction: column;
        padding-top: 52px;
        padding-bottom: 64px;
        height: 720px;
        gap: 52px;
        background-position: center -250px;
    }

    .productOne .productInfo{
        width: 349px;
        height: 333px;
        gap: 24px;
    }

    .productOne .productImage{
        width: 197.21px;
    }

    .productOne .productInfo h1{
        text-align: center;
    }

    .productOne .productInfo p{
        text-align: center;
    }

    .productOne .productInfo button{
        align-self: center;
    }

    .productTwo{
        width: 90%;
        height: 320px;
        background-image: url('./images/image-speaker-zx7-tablet.jpg');
    }

    .productThree .productImage{
        content: url('./images/image-earphones-yx1-tablet.jpg');
    }

    .productThree .greyBox h1{
        font-size: 28px;
        line-height: 38.25px;
    }

}

@media(max-width: 743px){
    .productThree .greyBox{
        padding: 20px;
    }
}

@media(max-width: 677px){
    .productThree .greyBox{
        width: 48%;
    }

    .productThree .productImage{
        width: 48%;
    }
}

/* mobile */
@media(max-width: 500px){
    .container{
        margin-bottom: 120px;
    }

    .productOne{
        justify-content: flex-start;
        height: 700px;
        gap: 52px;
        background-size: 600px 600px;
        background-position: center -120px
    }


    .productOne .productInfo{
        height: 251px;
        gap: 24px;
    }

    .productOne .productInfo h1{
        width: 250px;
        font-size: 36px;
        line-height: 40px;
        align-self: center;
    }

    .productOne .productInfo p{
        align-self: center;
        width: 280px;
        font-weight: 15px;
        line-height: 25px;
        text-align: center;
        margin-bottom: 0px;
    }

    .productTwo{
        background-image: url('./images/image-speaker-zx7-mobile.jpg');
        padding-left: 24px;
    }

    .productTwo .productInfo h1{
        width: 220px;
    }


    .productThree{
        flex-direction: column;
        height: auto;

    }

    .productThree .productImage{
        width: 100%;
        content: url('./images/image-earphones-yx1-mobile.jpg');
    }

    .productThree .greyBox{
        width: 100%;
        height: 200px;
    }
}
