
.otherDetails{
    width: 1110px;
    height: 318px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 104px;
}

.features{
    width: 635px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.featuresTitle{
    font-family: var(--website-font);
    font-weight: 32px;
    letter-spacing: 1.14px;
    margin-bottom: 32px;
}
.featuresDesc{
    font-family: var(--website-font);
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    opacity: 0.5;
}

.inTheBox{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inTheBoxTitle{
    font-family: var(--website-font);
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 1.14px;
    margin-bottom: 16px;
}

.inTheBoxList{
    padding: 0px;
    list-style: none;
}

.inTheBoxList li{
    font-family: var(--website-font);
    font-size: 15px;
    margin-bottom: 8px;
}

.inTheBoxList li span:nth-of-type(1){
    margin-right: 21px;
    color: #D87D4A;
    font-size: 15px;
    font-weight: 700;
}

.inTheBoxList li span:nth-of-type(2){
    opacity: 0.5;
    font-weight: 500;
}