@font-face {
    font-family: "Manrope";
    src: url('./FontFiles/Manrope-VariableFont.ttf');
}

:root{
    --website-font: "Manrope";
    --bg-body: #FAFAFA;
    --bg-nav-color: #191919;
    --bg-footer-color: #101010;
    --bg-home-header-color: #191919;
    --item-bg-color: #F1F1F1;
    --button-bg-color: #D87D4A;
    --hover-link-color: #D87D4A;
    --hover-button-color: #FBAF85;
}

fieldset{
    border: none;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--bg-body);
    margin: 0px;
    padding: 0px;
}


h1, h2, h3, h4, h5, p {
    margin: 0px;
}