@font-face {
    font-family: "Manrope";
    src: url('./FontFiles/Manrope-VariableFont.ttf');
}

:root{
    --hover-link-color: #D87D4A;
    --website-font: "Manrope";
    --bg-body: #FAFAFA;
    --bg-nav-color: #191919;
    --bg-footer-color: #101010;
    --bg-home-header-color: #191919;
    --item-bg-color: #F1F1F1;
    --button-bg-color: #D87D4A;
}

body{
    background-color: var(--bg-body);
    margin: 0px;
    font-size: 100%;
}


h1, h2, h3, h4, h5, p {
    margin: 0px;
}