.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 168px;
}

.flex{
    width: 1109px;
    height: 284px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.productBox{
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
    background-color: #F1F1F1;
    width: 350px;
    height: 204px;
    position: relative;
    cursor: pointer;
    transition: width 0.2s linear;
}

.productImage{
    position: absolute;
    top: -60px;
    height: 180px;
    object-fit: contain;
    pointer-events: none;
}

.productTitle{
    font-family: var(--website-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: 1.29px;
    pointer-events: none;
}

.productLink{
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    width: 57.32px;
}

.shop{
    font-family: var(--website-font);
    font-weight: 700;
    font-size: 13px;
    line-height: 17.76px;
    letter-spacing: 1px;
    opacity: 0.5;
    pointer-events: none;
}

.arrow{
    pointer-events: none;
    width: 5px;
    height: 10px;
}


@media(max-width: 1150px){
    .flex{
        width: 95%;
    }
    .productBox{
        width: 300px;
    }
}

@media(max-width: 1000px){
    .productBox{
        width: 250px
    }
}

@media(max-width: 830px){
    .productBox{
        width: 230px;
    }
}


@media(max-width: 768px){
    .container{
        margin-bottom: 120px;
    }
    .flex{
        width: 689px;
        height: 217px;
    }
    .productBox{
        width: 223px;
        height: 165px;
    }

    .productImage{
        height: 134px;
        top: -50px;
    }
    .productTitle{
        font-size: 15px;
        line-height: 20.49px;
    }

    .shop{
        font-size: 13px;
    }
}



@media(max-width: 710px){
    .flex{
        justify-content: space-around;
    }
    .productBox{
        width: 190px;
    }
}

@media(max-width: 620px){
    .productBox{
        width: 150px;
    }
}

@media(max-width: 500px){
    .container{
        margin-bottom: 0px;
    }
    .flex{
        width: 327px;
        height: 683px;
        flex-direction: column;
    }
    .productBox{
        width: 100%;
    }
}

