
.navContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 97px;
    background-color: var(--bg-nav-color);
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.iconCart{
    mask: url('./Icons/icon-cart.svg') no-repeat center;
    -webkit-mask: url('./Icons/icon-cart.svg') no-repeat center;
    width: 25px;
    height: 25px;
    background-color: white;
    cursor: pointer;
}
.iconCart:hover{
    background-color: #D87D4A
}

.logo{
    cursor: pointer;
}

.navBar{
    position: relative;                 /* for mobile placement */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1109px;
    height: 28px;
    padding: 36px 0 36px 0;
    border-bottom: 1px solid rgb(255,255,255, 0.2);
    transition: width 0.2s linear;
}

.links{
    display: flex;
    justify-content: space-between;
    width: 429px;
    height: 25px;
}

.link{
    color: white;
    font-family: var(--website-font);
    font-weight: 700;
    font-size: 13px;
    cursor: pointer
}

.link:hover{
    color: var(--hover-link-color);
}

.hamburgerMenu{
    cursor: pointer;
    width: 16px;
    height: 15px;
}

.mobileMenu{     
    z-index: 2;   
    transform: scaleY(0);    
    transform-origin: top center;    
    position: absolute;
    top: 90px;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    padding: 56px 0 0 0;
    overflow: hidden;
    height: auto;
    transition: transform 0.2s linear;
    border-radius: 0px 0px 8px 8px;
}

.overlay{
    z-index: 1;
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: transparent;
    transition: background-color 0.2s linear;
}


@media(max-width: 1165px){
    .navBar{
        width: 90%;
    }
}

/* tablet mode */
@media(max-width: 768px){
    .navBar{
        width: 85%;
        justify-content: flex-start;
        gap: 42px;
    }

    .iconCart{
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
        margin: auto;
    }
}

@media(max-width: 510px){
    .mobileMenu{
        padding: 101.5px 0 35px 0;
    }
}