.container{
    margin-top: 79px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 56px;
}

.goBack{
    width: 1110px;
    height: 25px;
    display: flex;
}

.goBack a{
    font-family: var(--website-font);
    font-weight: 500;
    font-size: 15px;
    opacity: 0.5;
    cursor: pointer;
}

.goBack a:hover{
    text-decoration: underline;
}
